<!DOCTYPE html>
<html>
<head>
  <title>MyRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header class="navbar navbar-fixed-top navbar-default">
    
    <dif class="container">
      <%= link_to "MyRecipes", "", class: "btn btn-lg btn-success", id: "logo" %>
      <dif class="nav_items">
        <%= link_to "Link 1", "", class: "btn btn-default btn-warning" %>
      </dif>
      <dif class="nav_items">
        <%= link_to "Link 1", "", class: "btn btn-default btn-warning" %>
      </dif>
      <dif class="nav_items">
        <%= link_to "Link 1", "", class: "btn btn-default btn-warning" %>
      </dif>
    </dif>
  </header>
  
  <dif class="container">
    
    <%= yield %>
    
    <div class="footer">
      <p>&copy; MyRecipes 2015</p>
    </div>
  </div>
  
</body>
</html>
